<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAADBpmp20QNvRcQrl0wMhNiqF8XHWOkrw</string>
	<key>GCM_SENDER_ID</key>
	<string>995697446433</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.aloudehCompany</string>
	<key>PROJECT_ID</key>
	<string>aloudeh-220e7</string>
	<key>STORAGE_BUCKET</key>
	<string>aloudeh-220e7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:995697446433:ios:2deb4a2ea653534eaa1d60</string>
</dict>
</plist>